@inject NavigationManager _nm
@using TrackR.BlazorServer.Services
@using TrackR.Models.SQL

<div class="backdrop" @onclick="ToggleModal"></div>
<section id="modal" >
    <p>Name:</p>
    <input type="text" placeholder="Board Name" @bind="Name" id="modal_input"/>
    <button type="submit" @onclick="() => HandelCreateBoard()" id="modal_submit">Submit</button>
</section>
