/* ######### Reset Values ######### */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* ######### Blazor Error ######## */

#blazor-error-ui{
  background: lightyellow;
  bottom: 0;
  box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  left: 0;
  padding: 0.6rem 1.25rem 0.7rem 1.25rem;
  position: fixed;
  width: 100%;
  z-index: 1000;}
 #blazor-error-ui .dismiss {
  cursor: pointer;
  position: absolute;
  right: 0.75rem;
  top: 0.5rem;}

/* ######### Main Styles ######### */
:root{
    /* Assign Variables */
    --bg-primary:#191922;
    --bg-secondary:#2B2B34;
    --text-primary:#fff;
    --text-secondary:#686D81;
    --primary:#38BDD4;
    --border:#464650;
}

body{
    background:var(--bg-primary);
    font-family: Poppins;
}

.flex{
  display: flex;
  flex-direction: row;
}

#tasks{
    color: var(--text-primary);
    display: flex;
    justify-content: space-evenly;
    padding:1.5rem 0;
    height: 88vh;
}

#tasks > div{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#tasks h2{
    color: var(--text-secondary);
    font-size: .8rem;
    font-weight: 400;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.task{
    border-radius: 10px;
    background: var(--bg-secondary);
    width: 228px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1.2rem;
    gap: .5rem;
}

.task > h3{
    color: var(--text-primary);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.task > p{
    color: var(--text-secondary);
    font-size: 1rem;
}

#create_column{
    margin: calc(19px + 1.5rem) 0;
    height: calc(100% - (19px + 1.5rem) * 2 );
    width: 228px;
    background: var(--bg-secondary);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary);
    cursor: pointer;
}
 
#new_column{
    all: unset;
    font-size: 1.5rem;
    display: flex;
    gap: .6rem;
    align-items: center;
}

#create_column:hover{
    color: var(--text-primary);
}

#topbar{
    background: var(--bg-secondary);
    border-bottom: 1px solid var(--border);
    height: 12vh;
    width: 80vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3rem;
}

#topbar h1{
    color: var(--text-primary);
    font-size: 1.5rem;
    font-weight: 400;
}

#topbar_right{
    display: flex;
    align-items: center;
    gap: 16px;
}

#topbar_right button{
    all: unset;
    cursor: pointer;
    background: var(--primary);
    width: 176px;
    height: 45px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    font-size: 1rem;
    gap: .5rem;
}

#ellipse{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    fill:var(--text-primary);
    color: var(--text-primary);
    cursor: pointer;
}

#topbar_menu{
    height: 20rem;
    width: 15rem;
    background: var(--bg-secondary);
    position: absolute;
    top: 12vh;
    right: 30px;
    border-radius: 10px;
    z-index: 2;
    border: 1px solid var(--border);
}

#topbar_menu_backdrop{
    width: 100vw;
    height: 100vh;
    color: rgba(0,0,0,0);
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#sidebar{
  background: var(--bg-secondary);
  border-right: 1px solid var(--border);
  height: 100vh;
  width: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  padding: 2rem 0;
}


#logo{
    display: flex;
    height: 30px;
    align-items: center;
    justify-content: center;
}

#logo  p{
  color: var(--text-primary);
  font-size: 2rem;
  margin-left: .5rem;
  font-weight: 700;
}

#boards {
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    width: 100%;
    font-size: 1.5rem;
}

.board{
    display: flex;
    align-items: center;
    gap: .5rem;
    fill: var(--text-secondary);
    color: var(--text-secondary);
}

.board:hover{
    color: var(--text-primary);
}

#allboards{
    color: var(--text-secondary);
    font-size: 1rem;
    letter-spacing: 1.8px;
    text-transform: uppercase;
}

.active{
    border-radius: 0px 40px 40px 0px;
    background: var(--primary);
    width: 15vw;
}

.active  p{
    color: var(--text-primary);
}

.active{
    color: var(--text-primary);
    fill: var(--text-primary);
}

#create_board{
    color: var(--primary);
    fill: var(--primary);
    display: flex;
    gap:1.5rem;
    align-items: center;
}

#create_board:hover {
    color: var(--text-primary);
    fill: var(--text-primary);
}

.logo-svg {
    width: 30px;
    height: 30px;
    position: relative;
}

.logo-svg::before,
.logo-svg::after {
    content: '';
    position: absolute;
    height: 30px;
    border-radius: 4.41177px;
}

.logo-svg::before {
    width: 8.82353px;
    background-color: #38BDD4; /* Change to the desired color */
}

.logo-svg::after {
    width: 8.82353px;
    left: 10.5883px;
    background-color: #38BDD4; /* Change to the desired color */
    opacity: 0.8;
}

.logo-svg span {
    position: absolute;
    width: 8.82353px;
    left: 21.1764px;
    background-color: #5CCFE6; /* Change to the desired color */
    opacity: 0.6;
    height: 30px;
    border-radius: 4.41177px;
}

/* ===== Create Modal ===== */
#backdrop{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    z-index: 12;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#modal,
#task_modal{
    width: 33vw;
    height: 33vh;
    background-color: var(--bg-secondary);
    position: absolute;
    z-index: 13;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text-primary);
    gap: 1rem;
    font-size: 1.5rem;
    border: 1px solid var(--border);
}

#task_modal{
    width: 60vw;
    height: 60vh;
}

#modal_input,
#task_modal_textbox{
    color: var(--text-primary);
    background: var(--bg-primary);
    border-radius: 10px;
    width: 90%;
    border: none;
    padding: 1rem 2rem;
}

#modal_submit{
    all: unset;
    background: var(--primary);
    padding: .5rem 1rem;
    border-radius: 10px;
}

#task_modal_select{
    all: unset;
    background: var(--bg-primary);
    border-radius: 10px;
    padding: .5rem 1rem;
}

