@page "/"
@using TrackR.Models.SQL
@using TrackR.BlazorServer.Components


<div class="flex">
    @* SideMenu *@
    <Sidebar Boards="Boards" ActiveBoard="ActiveBoard"/>
    <div>
        @* TopMenu *@
        <Topbar Boards="Boards" ActiveBoard="ActiveBoard"/>
        @* MainContent *@
        <section></section>
    </div>
</div>

